*{
    margin: 0;
    padding: 0;
}
.navigation {
    position: fixed;
    text-decoration: none;
    margin-top: -20px;
    padding: 0;
    font-family: 'Architects Daughter', cursive;
    z-index: 10000;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    height: 7%;
    background-color: white;

  }
  
  .navigation div{
    width: 100%;
    
  }

  .navigation a {
    display: block;
    transition: all 0.4s linear;
    text-decoration: none;
    color: inherit;

  }
  
  /*botones*/
  .navigation .btnM.active {
      color: white;
  }
  
  .btnM {
    display: flex;
    justify-content: center;
    align-items: center;
      transition: background-color .2s;
      padding-bottom: 5px;
  }
  
  .btnM:hover {
      cursor: pointer;
      transition: background-color .4s;
  }
  
  #btn1 {
      color: #555;
      border-top: 5px solid #555;
  }
  #btn1.active {
    background: #555;
  }
  #btn1:hover {
      color: white;
      background-color: #555; 
  }
  
  #btn2 {
      color: #42C8C3;
      border-top: 5px solid #42C8C3;
  }
  #btn2.active {
    background: #42C8C3;
  }
  
  #btn2:hover {
      color: white;
      background-color: #42C8C3; 
  }
  
  #btn3 {
      color: #6CAE21;
      border-top: 5px solid #6CAE21;
  }
  #btn3.active {
    background: #6CAE21;
  }
  
  #btn3:hover {
      color: white;
      background-color: #6CAE21; 
  }
  
  #btn4 {
      color: #7e39ac;
      border-top: 5px solid #7e39ac;
  }
  #btn4.active {
    background: #7e39ac;
  }
  
  #btn4:hover {
      color: white;
      background-color: #7e39ac; 
  }
  
  #btn5 {
	color: #F74B61;
	border-top: 5px solid #F74B61;
}
#btn5.active {
  background: #F74B61;
}

#btn5:hover {
	color: white;
	background-color: #F74B61; 
}



#bodyHome {
    margin-top: auto;
    background-image: url(./image/fondo/acuarela4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover; 
    background-position: inherit; 
    width: 100%;
    height: 100vh;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align: -webkit-center;
    background-attachment: fixed;
}


#my-name {
    font-family: 'Stalemate', cursive;    
    font-size: 5vh;
    text-align: center;
    color:#ffffff;
    z-index: 1000;
}

#frontEnd{
    font-family: 'Ribeye Marrow', cursive;
    font-size: 1vh; 
    text-align: center;
    display: block;
    color: #ffffff;
    z-index: 100;

}

#my-ilustration {
    margin-top: -400px;
}

#aboutMe {
    background-color: #2AB5C9;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover; 
    font-family: 'Architects Daughter', cursive;
    width: 100%;
    height: 100vh;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align: -webkit-center;
    background-attachment: fixed;

}

.containerbiography {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 657px;
    height: 309px;
    left: 102px;
    /* top: 1255px; */
    font-family: 'Architects Daughter', cursive;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    color: #FFFFFF;
} 

#my-description {
    font-size: x-large;
    justify-content: end;


}

#my-photo {
    background-image: url(./image/ilustraciones/10298955_10203764247565724_2138754001223116391_n.jpg);
    position: sticky;
    width: 300px;
    height: 300px;
    left: 867px;
    top: 1000px;
    border: 9px solid #0A76BF;
    box-sizing: border-box;
    border-radius: 250px;
    background-size: contain;
}

#skills {
    background-color: #60E1BC;

}


  /*animacion inicio*/
  .animationInit svg {
    margin-top: 50px;
    position: relative;
    font: 10em;
    
  }
  
  .animationInit svg text {
    fill: #ffffff;
    stroke: #00e1ff;
    fill-opacity: 1;
    stroke-width: 0;
    stroke-dasharray: 100% 0;
    animation: stroke-offset 4s ease-out;
  }
  
  #frontEnd svg {
    position: relative;
    font-family: 'Ribeye Marrow', cursive;
    text-align: center;
    font-size: 1.5em;
  }
  
  #frontEnd svg text {
    margin-top: -100px;
    fill: #ffffff;
    stroke: #00e1ff;
    fill-opacity: 1;
    stroke-width: 0;
    stroke-dasharray: 100% 0;
    animation: stroke-offset 5s ease-out;
  }



  /////////////////////////////



  @media only screen {
    body {
      background-position: 40% 100%;
    }
    .carousel {
      height: 60vh !important;
    }
    .carousel .carousel-item {
      height: 70% !important;
      width:70% !important; 
    }
    svg {
      width: 100%;
      max-width: 700px;
      height: 100%;
      margin-top: 5%;
    }
    .overlay {
      height: 70%;
    }
    .contactText {
      text-align: center;
      margin-top: 0;
      z-index: 10;
    }
    #sobreMi {
      width: 100%;
      margin-bottom: 80px;
      margin-top: 350px;
    }
    #inicio {
      margin-top: 50px;
    }
    .animationInit {
      margin-bottom: -20px;
    }
  }
  
  @media only screen and (min-width: 650px) {
    body {
      background-position: 40% 30%;
    }
    .carousel {
      height: 70vh !important;
    }
     .carousel .carousel-item {
      width:40% !important; 
      height: 80% !important;
    }
    svg {
      width: 80%;
      height: 80%;
      margin-top: 0;
    }
    .overlay {
      height: 30%;
    }
    .contactText {
      margin-top: -30px;
    }
    #sobreMi {
      width: 70%;
      margin-bottom: 100px;
      margin-top: 0;
      min-width: 900px;
    }
    .contacto {
      margin-bottom: 80px;
    }
    #inicio {
      margin-top: 0;
    }
    .animationInit {
      margin-bottom: -0;
    }
  }
  
  /*animacion contacto*/
  svg {
    position: relative;
    font: 20em Ubuntu;
  }
  
  svg text {
    fill: #F74B61;
    stroke: #111;
    fill-opacity: 1;
    stroke-width: 0;
    stroke-dasharray: 100% 0;
    animation: stroke-offset 3s ease-out;
  }
  
  @keyframes stroke-offset {
    0% {
      fill-opacity: 0;
      stroke-width: 0;
      stroke-dasharray: 0% 100%;
    }
    25% {
      stroke-width: 3px;
    }
    50% {
      fill-opacity: 0;
    }
    75% {
      stroke-width: 3px;
    }
    100% {
      stroke-width: 0;
    }
  }
  

  
